$background: #e0eff1;
$text: #ffffff;
$dark: #121212;
$color2: #7db4b5;
$color3: #680148;

@mixin tablet {
  @media (max-width: 996px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 710px) {
    @content;
  }
}