* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $dark;
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background-color: $background;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
}

a {
  all: unset;
}

a,
button {
  cursor: pointer;
}

body::-webkit-scrollbar {
  width: 1rem;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-thumb {
  background-color: $color2;    /* color of the scroll thumb */
  border-radius: 10px;       /* roundness of the scroll thumb */
  border: 3px solid $background;  /* creates padding around scroll thumb */
}
