.basal {
  width: 100vw;
  height: 100vh;
  background-image: url("/assets/blob_background.svg");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  @include mobile{
    background-image: none;
  }

  h1 {
    margin: 10px 0;
    color: $color2;
    text-align: center;
  }

  .basal__calc {
    width: 100%;
    height: calc(4 * 4.7rem);
    position: relative;
  }
}

input{
 // all: unset
}

.input {
  width: 275px;
  height: 4.5rem;
  background-color: $color2;
  font-size: 1rem;
  position: absolute;
  z-index: 3;
  text-align: center;
  color: $background;

  .input__label-left{
    position: absolute;
    bottom: 0;
    right: 15%;
    color: $background;
  }

  .input__label-right{
    position: absolute;
    bottom: 0;
    left: 15%;
    color: $background;
  }

  .input__label-activity{
    position: absolute;
    bottom: 0;
    right: 35%;
    color: $background;
  }
}

.input-left {
  // border-radius: 0 30% 30% 0;
  border-top-right-radius: 20% 50%;
  border-bottom-right-radius: 20% 50%;
  left: -100%;
  top: 0;
  transition: all 1.2s ease-in-out;

  &:nth-child(2) {
    top: 4.8rem;
  }
}

.active-left {
  left: 50.5%;
  transition: all 1.2s ease-in-out;
}

.input-right {
  border-top-left-radius: 20% 50%;
  border-bottom-left-radius: 20% 50%;
  right: -100%;
  top: 0;
  transition: all 1.2s ease-in-out;

  &:nth-child(4) {
    top: 4.8rem;
  }
}

.active-right {
  right: 50.5%;
  transition: all 1.2s ease-in-out;
}

.input-activity {
  top: calc(2 * 4.8rem);
  width: 550px;
  left: -100%;
  border-top-left-radius: 10% 50%;
  border-bottom-left-radius: 10% 50%;
  border-top-right-radius: 10% 50%;
  border-bottom-right-radius: 10% 50%;
  transition: all 1.2s ease-in-out;
}

.activity-active {
  left: calc(50% - 275px);
  transition: all 1.2s ease-in-out;
}

.btn-calcular{
  all: unset;
  width: 200px;
  height: 4.5rem;
  background-color: $color2;
  font-size: 2rem;
  position: absolute;
  top: calc(3 * 4.8rem);
  right: -100%;
  z-index: 3;
  text-align: center;
  border-top-left-radius: 20% 50%;
  border-bottom-left-radius: 20% 50%;
  border-top-right-radius: 20% 50%;
  border-bottom-right-radius: 20% 50%;
  color: $background;
  cursor: pointer;
  transition: all 1.2s ease-in-out;
}

.btn-active{
  right: calc(50% - 100px);
  transition: all 1.2s ease-in-out;
}

.result{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0%;
}

.result-active{
  opacity: 100%;
  transition: all 1.2s ease-in-out;
}